body {
	font-family: 'Comfortaa', cursive;
	color: #232;
	font-weight: 700;
}

button{
	background-color: #fff;
	font-size: 150%;
}

button a{
	color: #232323;
}

button:hover {
	background-color: #F1396D;
	color: #F1396D;
	text-decoration: none;
}

button a:hover {
	text-decoration: none;
}

input {
      margin-bottom: 6px;
      height:34px;
      font-size: 14px;
      border: 1px solid #ccc;
      border-radius: 4px;
      padding: 6px 12px;
}

.vr {
    width:1px;
    background-color:#ccc;
    position:absolute;
    top:0;
    bottom:0;
    left:50%;
}

.bold{
	font-weight: 1050%;
}

.text-muted {
	color:#BCB;
}
.text-thin {
	font-weight: 100;
}

.title-super {
	font-size: 60px;
}

.title-logo {
	margin-top: 5px;
}

.banner:hover {

	    
}

.navbar {
	margin-bottom: -20px;
}

.navbar-default {
    background-color: #232323;
    border-color: #232323;
}

.navbar-default .navbar-brand {
    color: #fff;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
}

.navbar-default .navbar-brand:hover {
    color: #F1396D;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #F1396D;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #232323;
    background-color: #F1396D;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
}

.panel-heading{
    cursor: pointer;
}

.navbar-default a{
  color: #999;
}

.btn-pink {
    color: #ffffff;
    background-color: #F1396D;
    border-color: #F1396D;
    min-width: 100%;
}

.promo {
  margin-bottom:0px;
}

.grow:hover{
  font-size:150%;

}

#logo {
    z-index: 3;
      position: absolute;
      top: 2;
      width: 100%;
      padding-top:14%;
      padding-right: 15px;
      padding-left: 15px;
}

#logo h2 {
  color: #FFFFFF;
  font-size: 700%;
}

#logo b{
  color:#ffffff;
}

 #logo .btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    margin-top:15px;
    align-items: center;
  
}
 #logo .btn-default:hover {
  background-color: #F1396D;
  color: #ffffff;
}

#what { 
	background-color:#FFFFFF;
  padding-bottom: 50px;

 }

 #what .btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;

    margin-top:15px;
    align-items: center;
}

 #what .btn-default:hover {
  background-color: #F1396D;
  color: #ffffff;
}



 #what h2 {
  color:  #F1396D;
  font-size: 60px;
  margin-top: 45px;
  margin-bottom: 25px;
 }

@media only screen and (max-width: 500px){ 
  #what h2{
    font-size: 50px;
  }
}


 #what h3 {
 	color: #F1396D;
 }

 #what p {
 	color: #232323;
 }

 #what p:hover {
  color: #F1396D
 }
#what img{
  max-width: 150px;
  max-height: 100px;
  margin-left: auto;
  margin-right: auto;
  float: none !important;
  padding-bottom: 5px; 
}

#partner {
		z-index: 3;
	   	position: absolute;
   		top: 2;
   		width: 100%;
    	
    	padding-right: 15px;
    	padding-left: 15px;
}

#partner h2 {
	color: #FFFFFF;
  margin-top: 45px;
  margin-bottom: 25px;
  font-size: 45px;

}

#partner b{
  color:#ffffff;
}

 #partner .btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    margin-top:15px; 
    align-items: center;
}

 #partner .btn-default:hover {
  background-color: #F1396D;
  color: #ffffff;
}

#faq h2 {
	color: #F1396D
}

.image4{
   display: none;

}

@media only screen and (max-width: 500px){ 
   .image3{
     display: none;
   }

   .image4{
     display: block;
     font-size:50%;
   }


}


@media (min-width: 768px){
 #project2 .modal-dialog{
    width:90%;
  }
}

